@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0px;
  padding: 0px;
}

.login-div {
  margin-top: 70px;
}
.context {
  position: absolute;
  top: 10px;
  left: 20px;
}

.context h1 {
  color: #ede6db;
  font-size: 35px;
}
body {
  font-family: "Exo", sans-serif;
  background: -moz-linear-gradient(left, #1d5c63 0, #417d7a 100%);
  background: -webkit-linear-gradient(left, #1d5c63 0, #417d7a 100%);
  background: linear-gradient(to right, #1d5c63 0, #417d7a 100%);
}
.login-content {
  display: flex;
  flex-direction: column;
  background-color: #1b2021;

  min-height: 80vh;

  padding: 60px 15px 40px;
  padding-bottom: 0;
  margin-bottom: 0px;
}
.login-content h1 {
  color: azure;
}
@media only screen and (min-width: 740px) {
  .login-body {
    margin: 0 auto -236px;
    padding: 0 5%;
    height: 50%;
    background-color: transparent;
    max-width: 450px;
  }
}

.login-body {
  padding: 0 0;
  height: 100%;
  background-color: transparent;
}
.login-body ::before {
  content: "";
  height: 100%;
  display: block;
}
@media only screen and (min-width: 740px) {
  .login-body:before {
    content: "";
    height: 100%;
    display: block;
  }
}
@media only screen and (min-width: 740px) {
  .login-content {
    display: flex;
    min-height: 80vh;

    padding: 60px 68px 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
.hybrid-login-form .hybrid-login-form-main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-bottom: 16px;
}
.hybrid-login-form-main h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 28px;
}

.nfemail,
.nfpassword {
  padding-bottom: 20px;
  max-width: 100%;
}
@media only screen and (min-width: 740px) {
  .nfemailcontrol,
  .nfpasswordcontrol {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
}

.nfemailcontrol,
.nfpasswordcontrol {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.placelabel {
  color: #fff;
}
.btn {
  display: inline-block;
  text-decoration: none;
  line-height: 1em;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  position: relative;
  color: #000;
  background-color: #e6e6e6;
  -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
}

.login-button.btn {
  width: 100%;
  background: #ede6db;
}

.btn.btn-small {
  display: block;
  width: 50%;
  padding: 0;
  margin: 2.5em auto;
  line-height: 50px;
}

.btn-submit {
  color: #1a3c40;
  background-color: #0080ff;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#0080ff),
    to(#0277ec)
  );
  background-image: -webkit-linear-gradient(top, #0080ff, #0277ec);
  background-image: -moz- oldlinear-gradient(top, #0080ff, #0277ec);
  background-image: -o-linear-gradient(top, #0080ff, #0277ec);
  background-image: linear-gradient(to bottom, #0080ff, #0277ec);
  -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 55%);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.55);
  box-shadow: 0 1px 0 rgb(0 0 0 / 55%);
}

.emailinput,
.passwordinput {
  background: #2d343e;
  border: 1px solid #2d343e;

  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  font-size: 16px;
  height: 20px;
  padding: 10px;
  width: 265px;
  font-family: "poppins", sans-serif;
  padding-left: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.hybrid-login-form-main h1 {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap");

.wrapper {
  display: inline-flex;

  height: 30px;
  width: 290px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 32px 10px;
}
.wrapper .option {
  background: #fff;
  height: 58%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #1d5c63;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"] {
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
  border-color: #1d5c63;
  background: #1d5c63;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span {
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
}
