@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
body {
  font-family: "Exo", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

.context {
  position: absolute;
  top: 10px;
  left: 20px;
}

.context h1 {
  color: #ede6db;
  font-size: 35px;
}

body {
  background: -moz-linear-gradient(left, #1d5c63 0, #417d7a 100%);
  background: -webkit-linear-gradient(left, #1d5c63 0, #417d7a 100%);
  background: linear-gradient(to right, #1d5c63 0, #417d7a 100%);
}

a:link,
a:visited {
  background-color: #ede6db;
  color: #1a3c40;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: #e5dccc;
}
.table {
  position: absolute;
  top: 15%;
  left: 25%;
}
.home {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9rem;
  text-align: center;
  color: #1a3c40;
  border: none;
  cursor: pointer;
  float: right;
}
.home_f {
  padding-top: 10px;
  padding-right: 15px;
}
/* table */
table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
    color: white;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
    color: #000;
	}

th { 
	background: #1B2021; 
	color: #fff; 
	font-weight: bold;
     
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: center; 
	font-size: 18px;
    width: 112px;
    /* border-radius: 5px; */
    /* border: none; */
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}
.temp{
    /* text-decoration: none; */
    background-color:#357272;
    border: none;
}